
#contactContainer {
    background-image: url("../images/servicesbanner.png");
	height: 650px;
}
span.fixed_w3 {
    color: #bbb;
    margin: 10px;
    background:white;
	font-size: 28px;
    margin-left: 20px;
}
span.fixed_w3standard {
           color: #bbb;
		   font-size: 28px;
          margin-left: -10px;
}
h1{
	color:white;
	font-size:20px;
    margin: 25px;
}
.datarow{
	      margin: 30px;
         font-size: 40px;
		 margin-left: 40px;
	}
.text_center{
        margin-left: 20px;
}
.btn-primary {
         margin-top: 20px;
        background-color: rgb(0, 0, 0);
         color: fff;
         border-radius: 1px;
         border-color: #eee;
          padding: 12px;
           margin: 25px;
        }
#lable{
        margin-left: 40px;
}
.contact-data{
    color: #bbb;
    list-style:none;
    margin: -8px;
    padding: 20px;
	margin-left: 10px;
}
.fa-2x {
    font-size: 1em;
	padding: 12px;
    margin-right: 2px;
}
.form-group .form-control {
    padding: 7px 15px;
    border-color: #f2f2f2;
    box-shadow: none;
    border-radius:19px;
}

.form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 16px;  
}
#send{
     text-align: center;
     border: 2px solid orange;
	 margin-left: 2px;
	 background: none;
	 margin-top: 10px;
	font-size: 20px;
    color: white;
	}
#sendtext{
	    text-align: center;
    border: 2px solid #ed49c1;
    margin-left: 2px;
    background: none;
    margin-top: 10px;
    font-size: 20px;
	color: white;
}
.sendmessage{
        margin-top:190px;
		margin-left: -50px;
       }
	/* WeddingFashion start */   
#photoshop   {
	    text-align: center;
	    background-color: white;
      }

.photo   {
	     position: relative;
        }
.photo-title{
	    position: absolute;
		bottom:20px;
		left:0px;
		text-align: center;
		right:0px;
		font-size:24px;
		font-weight: bold;
		color:#979797;
      }
.photos {
		  margin:auto;
		  font-size:0px;
		}
		
.photo-zoom	{
	     position: relative;
        }	
.photos-zoom  {
		  margin:auto;
		  font-size:0px;
		}		
		
		
		
		/* StylingServices start */ 
 #styling-services h1{
	    color: white;
   
    font-size: 80px;
}	
 #styling-services b{
    font-family: ghotam-bold;
    color: white;
 }
#styling-services p {
	    color: white;
    margin-top: 15px;
    font-size: 18px;
}
.stylingdata{
	    color: black;
    margin-left: 10px;
}
.styling-servicesstyle{
	padding-left:194px;
	padding-top:80px;
}
#form_submit_button-data{
	padding: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 256px;
    background: black;
    color: #bbb;
	margin-bottom: 7px;
}
.services-background-img{
	background-image: url("../images/servicesbanner.png");
	    height: 552px;
    width: 100%;
}
.line{
	    border: 2px solid #FF69B4;
        width: 100px;
       margin-top:130px;
}
.linebottom{
         border: 2px solid #FF69B4;
         width: 100px;
        
}
#dreamfurthure{
	margin-top: 0px;
    margin-bottom: 0px;
}

#dreamfurthure h1{
	 font-size: 20px;
    font-family: Gotham;
    line-height: 1.2;
    text-align: center;
    color: #bbb;
    
}
.tiffany-img {
	    margin-top: 0px;
        margin-bottom:0px;
	    width: 100%;
		
}
.wedding-data-services{
	padding-left: 0px!important;
    padding-right: 28px !important;
    margin-top: 15px !important;
}
.wedding-services{
background:black;
 height:40px;
  padding-top: 5px; 
 text-align:center;	
}
.wedding-services h1 span{
	padding: 4px;
	color:white !important;
}
.wedding-services label:hover{
	cursor:pointer;
}
.wedding-services h1 span{
	font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.stylefree{
	padding-left: 20px;
}
.designbox{
	background: mistyrose;
    height: 546px;
	
}

	
 .form-group .form-control {
    padding: 7px 15px;
    border-color: #f2f2f2;
    box-shadow: 0 4px 2px -2px #D8DBDB;
    border-radius:19px;
}

.form-control {
	
    display: block;
    width: 50%;
        height:40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 16px; 
margin-top: 15px;
    	
}
#sender{
     text-align: center;
     border: 2px solid orange;
	 margin-left: 2px;
	 background: none;
	 margin-top: 10px;
	font-size: 20px;
    margin-top: 30px;
	}
.passive-text h1 {
	text-align: center;
	color: #f2f2f2;
}




  .login-box-message{
	   text-align:center;
	   font-size:20px;
  }
 
 .form-grouped .form-control {
    padding: 7px 15px;
    border-color: #f2f2f2;
    box-shadow: none;
    border-radius:19px;
}
.form-contrl {
	box-shadow: 0 4px 2px -2px #D8DBDB;
    display: block;
    width: 100%;
    height:35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 16px; 
    margin-top: 15px;
    	
}
.row form{
        margin-top:15px;
		}
	
	/* start registration */
	
#registrationContainer {
    text-align: center;
    color: white;
    padding: 3%;
}
#registrationContainer h1{
         font-family: epic-ride;
         font-size: 95.73pt;
}
#registrationContainer p{
           color: #ccc;
             font-size: 33.82pt;
        font-family: Myriad Pro Regular;
}
#registrationContainer p span{
 font-family: Myriad Pro Regular;
 font-size: 33.82pt;
 color:white;
}	
.event-date{
	width: 60px;
	height: 80px;
	background-image: url('images/event-date.jpg');
}
.slot{
font-size: 24px;
  font-family: "Gotham";
color: #000;
margin-left: 20px;
  margin-right: 2px;
}
.registration{      
    font-size:18px;
	   
	}
	.box{
	    border: 1px solid black;
    width: 70%;
    margin:0 auto;
	    padding-top: 10px;
	}
 .listStyle {
     color:red;
	 margin-top: 20px;
	 list-style-type: none;
    text-align: center;
		 
}
.listStyle li p strong {
     font-size: 24px;
    font-family:Gotham;
	color: rgb(85, 83, 83);
	    font-weight: bold;
    line-height: 1.2;
}
.registration ul li span {
color:red; 
font-size: 24px;
 font-family:Gotham;

}
.horizantal-line{
     width:80%
}
.customers-data h1{
    font-size: 24px;
	font-family: Gotham;
	color: rgb(46, 53, 54);
	font-weight: bold; 
	line-height: 1.2;
	text-align: center;
}
.customers-data h1 span{
color:red;
font-family:Gotham;
font-size: 24px;
}
.customers-data-value{
font-size:27px;
font-family:Gotham;
color:rgb(46, 53, 54);
font-weight:bold;
line-height: 1.2;
 text-align: center;
}
.customers-data-data{
font-size:24px;
font-family:Gotham;
 color:red;
 font-weight:bold;
 line-height:1.2;
 text-align:center;
padding-top: 20px;
    padding-bottom: 15px;
}
.icon{
    font-size: 10px;
    padding: 5px;
	color: red;
	
}
.buttonbox-data p{
     color:red;
	 font-size:25px
}
.box button{
background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.listStyle p{
padding-top:23px;
}	
	
	