<!DOCTYPE html>
<html lang="en">
<head>
<title>wedelicious</title>    
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" /><!-- fontawesome -->     
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" /><!-- Bootstrap stylesheet -->

<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />
<!-- stylesheet -->
<!-- meta tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />

<!-- //meta tags -->
<!--fonts-->
<link rel='stylesheet' id='Lato-css'  href='http://fonts.googleapis.com/css?family=Lato%3A1%2C100%2C100italic%2C300%2C400%2C400italic%2C500%2C700&#038;ver=4.7.5' type='text/css' media='all' />

<link rel='stylesheet' id='Playfair+Display-css'  href='http://fonts.googleapis.com/css?family=Playfair+Display%3A1%2C100%2C100italic%2C300%2C400%2C400italic%2C500%2C700&#038;ver=4.7.5' type='text/css' media='all' />
<link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<!--//fonts-->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.4.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/contact.css?version=1.03" />
<script src="dist/jquery.xgallerify.js"></script> 

<!--formden.js communicates with FormDen server to validate fields and submit via AJAX -->
<script type="text/javascript" src="https://formden.com/static/cdn/formden.js"></script>
<!-- Special version of Bootstrap that is isolated to content wrapped in .bootstrap-iso -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />


<!-- Include Date Range Picker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>



<!-- Required-js -->
<!-- main slider-banner -->
<script src="js/skdslider.min.js"></script>
<script type="text/javascript" src="js/jquery.flexisel.js"></script>
<script type='text/javascript' src='js/jquery.jqzoom-core.js'></script>
<link href="css/skdslider.css" rel="stylesheet">
<script src="app.js"></script>
<script src="route.js"></script>
<script src="customersCtrl.js"></script>
<script src="lookBoardCtrl.js"></script>
<script src="photographyCtrl.js"></script>
<script src="makeupArtistCtrl.js"></script>
<script src="contactCtrl.js"></script>
<script src="WeddingFashionCtrl.js"></script>
<script src="StylingServicesCtrl.js"></script>
<script src="bookingCtrl.js"></script>
<script src="successCtrl.js"></script>
<script src="contestCtrl.js"></script>
<link href="css/style.css?version=1.10" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript">

/*$("#logout").click(function(event){
event.preventDefault();
$('#sessionvalue').val('');
$('#logout').hide();
sessionId='';
window.location.href = "logout.php";
});*/





		jQuery(document).ready(function(){
			
			 $('#slide-nav').addClass('original').clone().insertAfter('#slide-nav').addClass('cloned').css('position','fixed').css('top','0').css('margin-top','0').css('z-index','500').removeClass('original').hide();

       scrollIntervalID = setInterval(stickIt, 10);
			
		});
		
       function stickIt() {

         var orgElementPos = $('.original').offset();
         orgElementTop = orgElementPos.top;               

         if ($(window).scrollTop() >= (orgElementTop)) {
           // scrolled past the original position; now only show the cloned, sticky element.

           // Cloned element should always have same left position and width as original element.     
           orgElement = $('.original');
           coordsOrgElement = orgElement.offset();
           leftOrgElement = coordsOrgElement.left;  
           widthOrgElement = orgElement.css('width');
           $('.cloned').css('left',leftOrgElement+'px').css('top',0).css('width',widthOrgElement).show();
           $('.original').css('visibility','hidden');
         } else {
           // not scrolled past the menu; only show the original menu.
           $('.cloned').hide();
           $('.original').css('visibility','visible');
         }
       }
</script>	
<!-- //main slider-banner --> 
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
		
	});
</script>
<!-- start-smoth-scrolling -->

<!-------- image zoom  start----------->
<link rel="stylesheet" media="screen, projection" href="./dist/drift-basic.css">
    <style type="text/css">
    
      .drift-demo-trigger {
       /* width: 30%;
        margin-right: 24%; */
      }
      .detail {
        position: absolute;
        width: 75%;
		margin-left: 5%;
		z-index: 5001;
		left: 539px;
		top: 21px;
	}
      }
      .ix-link {
        display: block;
        margin-bottom: 3em;
      }

      @media (max-width: 900px) {
        .wrapper {
          text-align: center;
          width: auto;
		   position : relative;
        }

        .detail, .drift-demo-trigger {
          float: none;
        }

        .drift-demo-trigger {
          max-width: 100%;
          width: auto;
          margin: 0 auto;
        }
        .detail {
          margin: 0;
          width: auto;
        }
        .responsive-hint {
          display: none;
        }

        .drift-bounding-box {
          display: none;
		 
        }
      }
    </style>
	
	<style>
	@font-face{
	font-family: "gotham-bold";
	src: url('fonts/Gotham-Bold.otf');
	}
	@font-face{
	font-family: "gotham-book";
	src: url('fonts/Gotham-Book.otf');
	}
	@font-face{
	font-family: "gotham-light";
	src: url('fonts/Gotham-Light.otf');
	}
	@font-face{
	font-family: "epic-ride";
	src: url('fonts/Epic-Ride.ttf');
	}
	</style>
	<!--<style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}</style>
	
<!---- img zoom end------>	
</head>
<body ng-app="myApp">

<!-- header -->
	<header>
		<div class="top-strip">
			<div class="container">
				<div class="logo">
					<h1>
					    <a href="index.html"><img src="images/logo3.png" alt="logo" width="150" height="60" /></a>
					<!--	<a href="http://www.wedelicious.com/#!/" class="fa fa-google"></a> -->
						<a href="https://www.instagram.com/wedelicious.weddingstylist/" class="fa fa-instagram"></a>
						<a href="https://www.facebook.com/Wedelicious.WeddingStylist/" class="fa fa-facebook"></a>
					</h1>    
				</div>
				
			</div>
				
		</div>
		 <div class="container">
		<!-- navigation -->
			<nav class="navbar navbar-default" id="slide-nav" ng-app="myApp" ng-controller="mainCtrl">
			 
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
					<li><a class="" href="/">Home</a></li>
					<li><a href="#!Wedding-Fashion">Wedding Fashion</a></li>
					<li><a href="#!Styling-Services">Styling Services</a></li>					
					 <li><a href="#!makeup-artist">Makeup</a></li>	
					<li><a href="#!photography">Photography</a></li>                 				
					<li><a href="#!contact">Contact</a></li> 
					<li ng-if="getUser()" id="logout"><a href="#" ng-click="logout()">Logout</a></li>
				  </ul>
				</div><!-- /.navbar-collapse -->
						<div class="clearfix"> </div>

			 
			</nav>
			 </div><!-- /.container-fluid -->
		<!-- //navigation -->
	</header>
	<!-- //header -->

	<!-- //top-header and slider -->
	<div class="container">
	
	
	
	
	
	<div ng-view>
	
	</div>
		
	</div>
	
				
	
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	
<!-- //here ends scrolling icon -->
<script>
	$(document).ready(function(){
		var date_input=$('input[name="date"]'); //our date input has the name "date"
		var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
		date_input.datepicker({
			format: 'mm/dd/yyyy',
			container: container,
			todayHighlight: true,
			autoclose: true,
		})
	})
</script>
	

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/bootstrap.js"></script>
</body>
</html>