
<div ng-app="myApp" ng-controller="lookBoardCtrl">
<div class="gap"></div>
	<div class="gap"></div>	
<div class="row" style="padding:15px">
	<div class="col-lg-8 text-center"><br>
			<img src="images/designs/{{ design.imagePath }}" alt="" width="70%"/>
			<h2 style="text-align:center; padding:7px">By: {{ design.designedBy }}</h2>
			<br><br>
			<h4 id="look-board" style="font-size:25px">This Look Board Is Styled By {{ design.designedBy }}<P style="color:#8a8a8a;text-align:right"> like it? <a ng-click=updateLikes()><span class="glyphicon glyphicon-heart like-heart" ></span></a> <span id="heart-paragraph">{{ likes }}</span> people liked it</p></h4>
	</div>
	
	<div class="col-lg-4">
	<h4 style="color:black;font-size:18px">Recommendations For Completing The Look</h4><br>
		<div class="row">	
	<div id="two-columns">
	<div class="design-box pin" ng-repeat="x in recommendations">
		<div class="design-img">
			<img ng-src="images/matches/{{ x.imagePath }}" alt="" width="100%" class="img-responsive side-image" />
		</div>
		<div class="design-content">
			<h2>{{ x.title }}</h2>
			<a class="profileSource" href="#">
				<div class="thumbImageWrapper">            
					<img src="images/avatars.jpg" alt="Designer" title="More">
				</div>   
				<div class="profileSourceAttributionContent">                    
					<h3 class="title">Designed by</h3>                
					<h4 class="fullname">
						{{ x.designedBy }}
					</h4>          
				</div>
			</a>			
		</div>				
	</div> 
	
	
	</div> 
	</div>	
    </div>
    </div>
    </div>
	
	<div class="gap"></div>
	<div class="gap"></div>	
</div>