<div ng-app="myApp" ng-controller="lookBoardCtrl">
<div class="row" style="padding:15px">
	<div class="col-lg-8 text-center"><br>
			<img src="images/designs/{{ design.imagePath }}" alt="" height="400px" width="350px"/>
			<h2 class="content-style">By: {{ design.designedBy }}</h2>
			<br><br>
			<h4 style="font-size:18px;margin-top: -8px;">This Look Board Is Styled By {{ design.styledBy }}</h4>
			<P id="paragraph-text"> like it?<span class="glyphicon glyphicon-heart" ><a ng-click=updateLikes()>{{ likes }}</span></a> people liked it {{description}}</p>
	</div>
	
	<div class="col-lg-4">
	<h4 id="design-contact-style">Recommendations For Completing The Look</h4><br>
		<div class="row">	
	<div id="two-columns">
	<div class="design-box pin" ng-repeat="x in recommendations">
		<div class="design-img">
			<img ng-src="images/matches/{{ x.imagePath }}" alt="" width="100%" class="img-responsive side-image" />
		</div>
		<div class="design-content">
			<h2 style="font-size:18px">{{ x.title }}</h2>
			<a class="profileSource" href="#">
				<div class="thumbImageWrapper">            
					<img src="images/avatars.jpg" alt="Designer" title="More">
				</div>   
				<div class="profileSourceAttributionContent">                    
					<!--<h3 class="title">Designed by</h3>  -->              
					<h4 class="fullname">
						{{ x.designedBy }}
					</h4>          
				</div>
			</a>			
		</div>
	</div>
	</div> 
	</div>
          <hr>
	            <span>
		 shares:<a href=" " target="_blank">
					<i class ="fa fa-facebook" id="facebook" aria-hidden="true"></i></a>
				<a href=" " target="_blank">
					<i class ="fa fa-twitter" id="twitter" aria-hidden="true"></i></a>
				<a href="" target="_blank">
					<i class ="fa fa-instagram" id="instagram" aria-hidden="true"></i></a>
				</span>
				<p class="data">TO GET THESE LOOK call<br> +918296058409 or email<br> styleme@wedelicious.com</p>
	         <hr>	
    </div>
    </div>
    </div>	
	       
	<div class="gap"></div>
	<div class="gap"></div>	
</div>