<div ng-app="myApp" ng-controller="makeupArtistCtrl">
<div class="container">
    <div class="row">
     <div class="makeupArtist-background-img">
		<div class="col-md-6" id="styling-services">
			<div class="col-md-12 styling-servicesstyle">
				<h1 style="font-family: epic-ride"> <!--Krista,--></h1>
				<p style="font-family: gotham-light"><br><b></b><br></p>
				<p style="font-family: gotham-light"><b></b><br><b></b> </p>
				<p style="font-family: gotham-light"><b><br></b><br><br><b></b> </p>
			</div>
	    </div>
<div class="col-md-6 form-styling"> 
 	                     <div class="text-center"> <label style="color: #ef0d0d;">{{ errorNumber }} </label> </div>
						 <div class="text-center"> <label style="color:green;">{{ successmessage }} </label> </div>
                        <form ng-submit="makeupartistdata()" method="post" role="form" class="contactForm">
                            
								 <div class="form-group">
										<input type="text" class="form-control" id="location" ng-model="location" name="location" placeholder=" Enter Location"  pattern="[a-zA-Z]+" ng-pattern-restrict type="text"/required>
								</div>
                                <div class="form-group">
                                        <input type="text" class="form-control" ng-model="events" name="events" id="events" placeholder="Number of Events"  /required>
										
                                        <div class="validation"></div>
                                </div>
								<div class="form-group">
                                        <input type="text" class="form-control" ng-model="budget" name="budget" id="budget" placeholder="budget" /required>
                                        <div class="validation"></div>
                                </div>
								<div class="form-group">
                                        <textarea class="form-control" ng-model="additionalrequirement" name="additionalrequirement" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="additional Requirement"  pattern="[a-zA-Z]+" ng-pattern-restrict /required></textarea>
                                        <div class="validation"></div>
                                </div>
                                 <div class="form-group">
                                        <button type="submit" class="form-control " name="send" id="send" value="submit">submit</button>
                                        
                                </div>					
								
                        </form>
				</div>	
			</div>	
        </div>
</div>


	<!-- <div class="text-center">
		<h2 style="color:red;font-size:20px;margin-bottom:20px"> COMING SOON ...<h2>
     </div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="makeupArtist-background-img img-responsive">
				
				</div>
			</div>
		</div>
	</div> -->
	<!--<div class="banner1" >
<form method="post" action="">
      <div class="row">
	  <div class="col-sm-3">
    <div class="form-group">
      <label for="location">location</label><br>
      <input type="text" class="form-control" id="location"  name="location">
    </div>
	</div>
	<div class="col-sm-3">
    <div class="form-group">
      <label for="budjet">budjet</label><br>
      <input type="text" class="form-control" id="budjet"  name="budjet">
    </div>
	</div>
	<div class="col-sm-3">
	<div class="form-group">
      <label for="no of events">no of events</label><br>
      <input type="text" class="form-control" id="no of events"  name="no of events">
	  </div>
        </div>
	  <div class="col-sm-3">
	  <div class="form-group">
	  <button type="search" class="btn btn-danger">search</button>
   </div>
	 </div>
        </div>
   
  </form>
	

 </div>
	<div id="five-columns">
	<div class="design-box pin" ng-repeat="artist in artists">
		<div class="design-img">
			<img src="images/artist/{{ artist.imagePath }}" alt="" width="100%" class="img-responsive side-image" />
		</div>
		<div class="design-content">
			<h2></h2>
			<a class="profileSource" href="#">  
				<div class="profileSourceAttributionContent">                                    
					<h4 class="fullname">
						{{ artist.name }}
					</h4>          
				</div>
			</a>			
		</div>				
	</div> 
	
	</div>-->
		
</div> 
