<html>

<head>


</head>
	

<body ng-app="myApp" ng-controller="bookingCtrl">
<div class="container" style="background-image: url('images/registration-background.jpg'); background-size: cover;">
<div class="registration-banner" id="registrationContainer">
<h1> Hi {{ name }}</h1>
<p>You are here to get an<br><span>Experience of a Life Time</span></p>
</div>
<div class="registration">
<ul class="listStyle">
<li><p><i class="fa fa-circle icon " aria-hidden="true"></i><strong>Get dressed up and styled by the</strong><span> expert stylist</span></p></li>
<li><p><i class="fa fa-circle icon " aria-hidden="true"></i><strong>Have your makeup and hair done<br>by </strong><span>professionals</span></p> </li>
<li><p><i class="fa fa-circle icon " aria-hidden="true"></i><strong>Followed by a photo ssession<br> by</strong><span>Matrioshka Media</span></p></li>
</ul>
</div>
<hr class="horizantal-line">
<h1 class="customers-data-value">Special price for the Event Day<span> 4250/-</span></h1>
<hr class="horizantal-line">
<div class="customers-data">
<h1> Exclusive offer for Anahe Customers,shop at Anahe<br>for 8000/- or more and get youe makeover<br>absolutely<span> free</span></h1>
</div>
<h1 class="customers-data-data">Pick Your Slot</h1>
<p class="customers-data-para"><strong>or call on this number for more details +918296058409</strong></p>
<div class="box">
<div class="row">
<div class="col-md-2 buttonbox-data">
<!-- <p>Fri<br>6<sup>th</sup><br><sub style="font-size:10px">oct</sub></p> -->
<div class="event-date"></div>
</div>
<div class="col-md-10">

	
	<span ng-repeat="slot in slots" class="slot">
	
	<a ng-click="bookSlot(slot.id)"  ng-if="!slot.booked"> {{ slot.time }}</a>
	
	<span ng-if="slot.booked" class="booked"> {{ slot.time }}</span>
	
	</span>
	
	
</div>
</div>

  
<!--
<div class="col-md-2">
<button><a href="#"><del>9:30AM</del></a></button>
<button><a href="#"><del>12:00PM</del></a></button>
<button><a href="#"> 2:30PM</a></button>
<button><a href="#">5:30PM</a></button>
</div>
<div class="col-md-2">
<button><a href="#">10:00AM</a></button>
<button><a href="#">12:30PM</a></button>
<button><a href="#"><del>5:00PM</del></a></button>
<button><a href="#"><del>6:00PM</del></a></button>
</div>
<div class="col-md-2">
<button><a href="#">10:30AM</a></button>
<button><a href="#">1:00PM</a></button>
<button><a href="#">3:30PM</a></button>
<button><a href="#">6:30PM</a></button>
</div>
<div class="col-md-2">
<button><a href="#">11:00AM</a></button>
<button><a href="#"><del>1:30PM</del></a></button>
<button><a href="#">4:00PM</a></button>
<button><a href="#">7:00PM</a></button>
</div>
-->
</div>
</body>
</html>