<div ng-app="myApp" ng-controller="customersCtrl">

<script>
//$('#logout').hide();


//var sessionId=$('#sessionvalue').val();
//alert(sessionId);
//if(sessionId!='{{ sessionVal}}')
///{
//alert('hello');
//$('#logout').show();
//}

//$('#myModal').modal('show');


$("#login-popup").click(function(event){
event.preventDefault();
var sessionId=$('#sessionvalue').val();
if(sessionId!='')
{
window.location.href = "/preview/#!/booking";<!--preview-- when u upload to server>
}
else{
$('#myModal').modal('show');
}
});
$("#openRegisterModel").click(function(event){
//event.preventDefault();

$('#myModal').modal('hide');
$('#registerModal').modal('show');

});
$("#openLoginModel").click(function(event){
//event.preventDefault();

$('#registerModal').modal('hide');
$('#myModal').modal('show');

});

</script>
<input type="hidden" value="{{ sessionVal}}" id="sessionvalue" />
<!-- top-header and slider -->
	<div class="w3-slider">	
	<!-- main-slider -->
	<div class="row">
	  <div class="col-md-8 bannerstyle">
	  <iframe id="video" src="//www.youtube.com/embed/5yAz6FOUvKA?rel=0" frameborder="0" allowfullscreen></iframe>
		 <!--<ul id="demo1"skdslider>
			 <li>
			   <img src="images/banner3.jpg" alt="" /> 
				 
				Slider Description example
				<div class="slide-desc">
					<h2>The</h2>
					<h3>NEW ELEGANCE</h3>
					
				</div> 
			</li> 
					
		</ul> -->
		</div>
		<div class="col-md-4 banner-style" id="login-popup">
		<!--<a href="#"> -->
		<img src="images/banner.jpg"  alt="" />
		
		<!-- </a> -->
		<!--<iframe id="video" src="//www.youtube.com/embed/9B7te184ZpQ?rel=0" frameborder="0" allowfullscreen></iframe> -->
		</div>
		</div>
	</div>
	<!-- //main-slider -->
	<div class="banner" style="margin:0px">
		
			<img src="images/banner4.png" alt="" width="100%" />
		
	</div>
	<!-- top-brands -->
	<div class="top-brands" style="margin:10px 0 10px 0">
			<div class="sliderfig">
				<ul id="services" services>			
					<li>
						<div class=" top-product-grids tp4">
							<a href="single#"><div class="product-img">
								<img src="images/slides/Look1.jpg" alt="" width="270" height="270" />
								
							</div></a>
												
						</div>
					</li>
					<li>
						<div class=" top-product-grids tp4">
							<a href="single#"><div class="product-img">
								<img src="images/slides/Look2.jpg" alt="" width="270" height="270" />
								
							</div></a>
												
						</div>
					</li>
					<li>
						<div class=" top-product-grids tp4">
							<a href="single#"><div class="product-img">
								<img src="images/slides/Look3.jpg" alt="" width="270" height="270" />
								
							</div></a>
												
						</div>
					</li>
					<li>
						<div class=" top-product-grids tp4">
							<a href="single#"><div class="product-img">
								<img src="images/slides/Look4.jpg" alt="" width="270" height="270" />
								
							</div></a>
												
						</div>
					</li>
					<li>
						<div class=" top-product-grids tp4">
							<a href="single#"><div class="product-img">
								<img src="images/slides/Look5.jpg" alt="" width="270" height="270" />
								
							</div></a>
												
						</div>
					</li>
					<li>
						<div class=" top-product-grids tp4">
							<a href="single#"><div class="product-img">
								<img src="images/slides/Look6.jpg" alt="" width="270" height="270" />
								
							</div></a>
												
						</div>
					</li>
					<li>
						<div class=" top-product-grids tp4">
							<a href="single#"><div class="product-img">
								<img src="images/slides/Look7.jpg" alt="" width="270" height="270" />
								
							</div></a>
												
						</div>
					</li>
					<li>
						<div class=" top-product-grids tp4">
							<a href="single#"><div class="product-img">
								<img src="images/slides/Look8.jpg" alt="" width="270" height="270" />
								
							</div></a>
												
						</div>
					</li>
					
					<li>
						<div class=" top-product-grids tp4">
							<a href="single#"><div class="product-img">
								<img src="images/slides/Look11.jpg" alt="" width="270" height="270" />
								
							</div></a>
												
						</div>
					</li>
					
					
					
				</ul>
				<!--
				<div class="video-container">
					<iframe width="100%" height="100%"
src="https://www.youtube.com/embed/oHw5R5iCXQA?controls=0&autoplay=1">
</iframe>
				
				</div>
				-->
			</div>
			
	</div>
	
	
	<div class="row">
		<div>
			<div class="col-lg-12 wedding-services">
				<h1><label><span>Wedding Fashion</span></label></h1>
            </div>
		</div>
	</div>
	
	
	<div class="photos" id="photoshop">
     <div class="" ng-repeat="fashion in fashions">
		<div class="photo">
			<img src="images/fashion/{{ fashion.imagePath }}" alt="{{ fashion.Tittle }}" width="50%" class="img-responsive side-image" />
			<!--<div class="photo-title">{{ fashion.Tittle }}</div>-->
		</div>
     </div>
	</div>
	
	<script type="text/javascript">
		var gallery = $('.photos').gallerify({
			margin:5,
			mode:'default',
			lastRow:'hidden'
		});	
		//Demo async loading simulation
		setTimeout(function(){
			//$(".photos").append(generateRandomImage());
			gallery.gallerify.renderAsyncImages();
		}, 2000);
		function generateRandomImage(){
			return $('<div class="photo"><img src="http://placehold.it/'+ Math.floor((Math.random() * 900) + 200) + 'x' + Math.floor((Math.random() * 900) + 200) + '"><div class="title">random</div></div>');
		}
	</script>
<!-- //top-brands -->

<!--

<div class="row">
	<div class="col-lg-12">
			 <div class="btn-group">
				<label class="btn btn-category" ng-model="category" btn-radio="'1'" ng-change="change()">Bride</label>
				<label class="btn btn-category" ng-model="category" btn-radio="'2'" ng-change="change()">Groom</label>
				<label class="btn btn-category friends" ng-model="category" btn-radio="'3'" ng-change="change()">
				<span ng-click="displayGender()">Friends & Family</span>
				
				
				<ul class="gender" ng-show="showGender">
					<li><a ng-click="selectGender(1)">Male</a></li>
					<li><a ng-click="selectGender(2)">Female</a></li>
				</ul>
				</label>
				
			</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
	
	
	<div id="filters">
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">      

		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Style<b class="caret"></b></a>
          <ul class="dropdown-menu style-dropdown-menu">
		  
            <li ng-repeat="style in styles" ng-class="{active:isStyleSelected(style.id)}">
			<label ng-click="getDesigns(style.id,0,selctedOccasion,0,0,0)" for="style{{ style.id }}"> <input id="style{{ style.id }}" type="checkbox" class="ng-pristine ng-untouched ng-valid" ng-bind="isStyleSelected(style.id)" ></input>{{ style.style }} </label>
			<!--<a ng-click="getDesigns(style.id,0,selctedOccasion,0,0,0)"> <input type="checkbox" ng-bind="isStyleSelected(style.id)" class="ng-pristine ng-untouched ng-valid" /> {{ style.style }}</a> -->
		<!--	</li>                    
          </ul>
		 </li>		
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Occasion<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li ng-repeat="occasion in occasions" ng-class="{active : selctedOccasion == occasion.id}"><label ng-click="getDesigns(0,selctedOutfit,occasion.id,0,0,0)" >{{ occasion.name }}</label> </li>                    
          </ul>
        </li>
		 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">season<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li ng-repeat="season in seasons" ng-class="{active: isSeasonSelected(season.id)}">
				<label ng-click="getDesigns(0,selctedOutfit,selctedOccasion,season.id,0,0)"><input type="checkbox" ng-bind="isStyleSelected(style.id)" class="ng-pristine ng-untouched ng-valid"/>  {{ season.season }}</label>
			</li>                    
          </ul>
		 </li>
		
		<li  ng-show="category != 3">
          <a ng-click="getDesigns(0,0,0,0,0,1)">Couple Coordination</a>
        </li>
		<li  ng-show="category == 1">
          <a ng-click="getDesigns(0,0,0,0,1,0)">Wedding After Dress</a>
        </li>
		
      </ul>
    </div>
    <!-- /.navbar-collapse 
  </nav>
</div>

	</div>
 </div> 
 -->
 
 <!--
 <div class="row"  style="margin:10px 0 10px 0" id="wrapper">
 
 <div id="columns">
	<div class="design-box pin" ng-repeat="x in names" ng-click="selectDesign(x.id)">
		<div class="design-img">
			<img ng-src="images/designs/{{ x.imagePath }}" alt="" width="100%" />
		</div>
		<div class="design-content">
			<h2>{{ x.title }}</h2>
			<a class="profileSource" href="#">
				<div class="thumbImageWrapper">            
					<img src="images/avatars.jpg" alt="Designer" title="More">
				</div>   
				<div class="profileSourceAttributionContent">                    
					<h3 class="title">Designed by</h3>                
					<h4 class="fullname">
						{{ x.designedBy }}
					</h4>          
				</div>
			</a>			
		</div>				
	</div> 
	
	
	
	</div>
	 -->
	
 </div>
  <!-- Modal start-->
 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" style="border: 5px solid #eed89f;">
        <div class="modal-header" style="border-color: white;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="userlogo text-center">
					<h1><a href="index.html"><img src="images/logo3.png" alt="logo" width="150" height="60" /></a></h1>					
				</div>
        </div>
        <div class="modal-body">
          <div class="userlogo-dialog">  	
                        <form action="login.php" method="post" role="form">
                                <div class="form-group">
                                        <input type="text" name="username" class="form-control" id="Username" placeholder="Username" required="" />
                                        <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                        <input type="Password" class="form-control" name="password" id="Password" placeholder="Password" required=""/>
                                        <div class="validation"></div>
                                </div>
                               
                                 <div class="form-group">
                                       <button type="submit" class="form-control data" name="send" id="sender" value="submit">Login</button>
                                        
                                </div>
                            
                        </form>
					</div>
							<div class="passive-text">
									<h1>Lost Your Password?</h1>
									<hr style="width: 80%;">
									<h1 style="text-align: center;color: #ccc !important;;">New User? <span>SIGN UP NOW</span></h1>
							</div>
				
								<div class="form-group">
                                       <button type="button" name="Email" class="form-control" id="openRegisterModel">Sign up </button>
                                        
                                </div>
					 
        </div>
       <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>
      
    </div>
	</div>
 <!-- Modal end-->
 
 
  <!-- Modal start for register-->
 <div class="modal fade" id="registerModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" style="border:5px solid #eed89f;">
        <div class="modal-header" style="border-color: white;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="userlogo text-center">
					<h1><a href="index.html"><img src="images/logo3.png" alt="logo" width="150" height="60" /></a></h1>					
				</div>
        </div>
        <div class="modal-body">
          <div class="login-page-text">  	
                        <form action="user-register.php" method="post" role="form">
                                <div class="form-grouped">
                                        <input type="text" name="username" class="form-contrl" id="Username" placeholder="Enter Name" required />
                                        
                                </div>
                                <div class="form-grouped">
                                        <input type="text" class="form-contrl" name="mobile" id="mobile" placeholder="Enter Mobile" required/>
                                        
                                </div>
							    <div class="form-grouped">
                                        <input type="email" class="form-contrl" name="email" id="email" placeholder="Enter  Email" required/>
                                        
                                </div>
						        <div class="form-grouped">
                                        <input type="Password" class="form-contrl" name="Password" id="Password" placeholder="Enter Password" required/>
                                        
                                </div>
								 <div class="form-grouped">
                                        <input type="Password" class="form-contrl" name="confirmPassword" id="confirmPassword" placeholder="Reenter Password" required/>
                                        
                                </div>
									 <div class="form-group" style="width:100%; margin-left:-4px;margin-top: 6.5px;">
                                       <button type="submit" class="form-control data" name="send" id="sender" value="submit">Register</button>
                                        
                                </div>
                        </form>
					</div>
					<div class="passive-text">
									<hr style="width: 80%;">
									<h1 style="text-align: center;color: #ccc;">If u have already account goto? <span>LOGIN Page</span></h1>
							</div>
				
								<div class="form-group">
                                       <button type="button" name="" class="form-control" id="openLoginModel">LOGIN </button>
                                        
                                </div>
				</div>				
       <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>
      
    </div>
 <!-- Modal end-->
 
 
</div>