<div ng-app="myApp" ng-controller="customersCtrl">

<script>
//$('#logout').hide();


//var sessionId=$('#sessionvalue').val();
//alert(sessionId);
//if(sessionId!='{{ sessionVal}}')
///{
//alert('hello');
//$('#logout').show();
//}

//$('#myModal').modal('show');


/*$("#login-popup").click(function(event){
event.preventDefault();
var sessionId=$('#sessionvalue').val();
if(sessionId!='')
{
window.location.href = "/preview/#!/booking";<!--preview-- when u upload to server>
}
else{
$('#myModal').modal('show');
}
}); 


 $("#openRegisterModel").click(function(event){
//event.preventDefault();

$('#myModal').modal('hide');
$('#registerModal').modal('show');

});
$("#openLoginModel").click(function(event){
//event.preventDefault();

$('#registerModal').modal('hide');
$('#myModal').modal('show');

}); */

</script>
<input type="hidden" value="{{ sessionVal}}" id="sessionvalue" />

 <div class="container" ng-app="myApp" ng-controller="contestCtrl">
       <div class="row">
          <div class="bride-alert-landing">
	        <div class="col-md-6"></div>	
	           <div class="col-md-6" style="margin-top: 22%;">			   
                 <h1 class="bride-alert-bride">Bride Alert</h1>
				 <p class="One_lucky_bride_a_month">One lucky bride a month wins a sponsored look <br> for one of their wedding functions</p>
				 <h1 class="Are_you_that_lucky_bride">Are you that lucky bride?  </h1>
                 <p class="look_comprise_of_a_beautiful_out">Your sponsored look comprise of a beautiful outfit,<br> accessories and jewelry to go along.Styled with the<br> perfect makeup and hairdo.Completed with a<br> bridal fashion photoshoot</p>
                 
				 <div class="sendmessage" style="margin-top:65%">
		                <div class="text-center"> <label style="color: #ef0d0d;" > {{ nameerror}} </label> </div>
	                    <div class="text-center"> <label style="color: #ef0d0d;" > {{ emailerror}} </label> </div>
						<div class="text-center"> <label style="color: #ef0d0d;" > {{ PhoneNumbererror}} </label> </div>
                        <form ng-submit="contest()" method="post" role="form" >
						<div class="text-data-form-data" style="    margin-left: 136px;width: 347px;">
                                <div class="form-group">
								<input type="text" name="name" ng-model="name" class="form-control" id="name" placeholder=" Name" pattern="[a-zA-Z]+"  maxlength="60" style="margin-bottom: 25px;" /required>
                                       <!-- <input type="text" name="Name" ng-model="Name" class="form-control" id="name" placeholder=" Name" pattern="[a-zA-Z]+"  ng-pattern-restrict ng-minlength="4"/required  ng-minlength="4" pattern="[a-zA-Z]+" ng-pattern-restrict /> -->
                                        <div class="validation"></div>
                                </div>

                                <div class="form-group">
                                       <input type="text" class="form-control" name="email" ng-model="email" id="email" placeholder=" Email" data-rule="email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" style="margin-bottom: 25px;" /required>
                                        <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                 <input type="text" class="form-control" name="mobile" ng-model="mobile" id="mobile" placeholder="Phone " maxlength="10"  pattern="[0-9]{10}"   /required>
                                    
                                        <!--<input type="test" class="form-control" name="PhoneNumber" ng-model="PhoneNumber"data-ng-pattern="/^(\+\d{1,3}[- ]?)?\d{10}$/" id="PhoneNumber" placeholder="Phone Number" ng-minlength="10"/required> -->
                                        <div class="validation"></div>
                                </div> 
                                
                                 <div class="form-group" style="padding:30px">
                                        <button type="submit" class="form-control data" name="send" id="send" value="submit" style="color:black">submit</button>
                                        
                                </div>
                            </div>
                        </form>
					</div>
                </div>  
			 </div>	
		</div>
				
	</div>
<!-- top-header and slider -->
	<!--<div class="w3-slider">		
	<div class="row">"style="padding: 60px 0px 0px 90px;"
	  <div class="col-md-12 bannerstyle" id="login-popup">
	 <!-- <iframe id="video" src="//www.youtube.com/embed/nOVlhEKySmo?rel=0" frameborder="0" allowfullscreen></iframe>
		 <ul id="demo1"skdslider>
			 <li>
			  <a ng-click="booking()" href="#!/contest"> <img src="images/banner/{{ banners.rightBanner }}" alt="" /></a>
				 
				
				<!--<div class="slide-desc">
					<h2>The</h2>
					<h3>NEW ELEGANCE</h3>
					
				</div> 
			</li> 
					
		</ul> 
		</div>
		<!--<div class="col-md-4 banner-style" id="login-popup">
		<a ng-click="booking()"><img src="images/banner/{{ banners.rightBanner }}" class="img-responsive"  alt="" /></a>
		<!--<iframe id="video" src="//www.youtube.com/embed/9B7te184ZpQ?rel=0" frameborder="0" allowfullscreen></iframe> 
		</div>
		</div>
	</div>-->
	<!-- //main-slider -->
	<div class="banner" style="margin:0px">
		<a href="#!/photography"><img src="images/banner/{{ banners.adBanner }}" alt="" width="100%" /></a>
	</div>
	<!-- top-brands -->
	<div class="top-brands" style="margin:10px 0 10px 0">
			<div class="sliderfig">
				<ul id="services" services>			
					<li>
						<div class=" top-product-grids tp4">
							<a href="#!/Styling-Services"><div class="product-img">
								<img src="images/slides/Look1.jpg" alt="" width="270" height="270" />
								
							</div></a>
												
						</div>
					</li>
					<li>
						<div class=" top-product-grids tp4">
							<a href="#!/Styling-Services"><div class="product-img">
								<img src="images/slides/Look2.jpg" alt="" width="270" height="270" />
								
							</div></a>
												
						</div>
					</li>
					<li>
						<div class=" top-product-grids tp4">
							<a href="#!/Styling-Services"><div class="product-img">
								<img src="images/slides/Look3.jpg" alt="" width="270" height="270" />
								
							</div></a>
												
						</div>
					</li>
					<li>
						<div class=" top-product-grids tp4">
							<a href="#!/Styling-Services"><div class="product-img">
								<img src="images/slides/Look4.jpg" alt="" width="270" height="270" />
								
							</div></a>
												
						</div>
					</li>
					<li>
						<div class=" top-product-grids tp4">
							<a href="#!/Styling-Services"><div class="product-img">
								<img src="images/slides/Look5.jpg" alt="" width="270" height="270" />
								
							</div></a>
												
						</div>
					</li>
					<li>
						<div class=" top-product-grids tp4">
							<a href="#!/Styling-Services"><div class="product-img">
								<img src="images/slides/Look6.jpg" alt="" width="270" height="270" />
								
							</div></a>
												
						</div>
					</li>
					<li>
						<div class=" top-product-grids tp4">
							<a href="#!/Styling-Services"><div class="product-img">
								<img src="images/slides/Look7.jpg" alt="" width="270" height="270" />
								
							</div></a>
												
						</div>
					</li>
					<li>
						<div class=" top-product-grids tp4">
							<a href="#!/Styling-Services"><div class="product-img">
								<img src="images/slides/Look8.jpg" alt="" width="270" height="270" />
								
							</div></a>
												
						</div>
					</li>
					
					<li>
						<div class=" top-product-grids tp4">
							<a href="#!/Styling-Services"><div class="product-img">
								<img src="images/slides/Look11.jpg" alt="" width="270" height="270" />
								
							</div></a>
												
						</div>
					</li>
					
				</ul>
				<!--
				<div class="video-container">
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/oHw5R5iCXQA?controls=0&autoplay=1"></iframe>
				</div>
				-->
			</div>
			
	</div>
		  <!--    <div class="col-md-12" style="margin-bottom:10px;">
			       <div class="wedding-services">
			           <h1><label><span>Wedding Fashion</span></label></h1>
                    </div>
		       </div>
	        
	<div class="photos" id="photoshop">
		 <div class="" ng-repeat="fashion in fashions">
			<div class="photo">
				<img src="images/fashion/{{ fashion.imagePath }}" alt="{{ fashion.Tittle }}" width="50%" class="img-responsive side-image" />
				<!--<div class="photo-title">{{ fashion.Tittle }}</div>
			</div>
		 </div>
	</div>  -->
	    <div class="col-md-12" style="margin-bottom:10px;">
			    <div class="wedding-services">
			        <h1><label><span>Testimonials</span></label></h1>
                </div>
	    <div id="four-columns">
		   <div class="design-box pin" ng-repeat="article in articles" >
		    <div class="design-img">
			   <img src="images/articles/{{ article.image_path	 }}" alt="{{ article.description }}" width="100%" class="img-responsive side-image" />
		    </div>
		<div class="design-content">
			<h2>{{ article.description }}</h2>
			<a class="profileSource" href="#">
				<div class="profileSourceAttributionContent">                    
					             
					<h4 class="fullname">
						{{ article.name }}
					</h4>          
				</div>
			</a>			
		</div>				
	</div>		
    </div>	
		<!--	<div class="img-responsive">
				<div class="service-image" ng-repeat="article in articles">
					<img src="images/articles/{{ article.image_path	 }}" alt="{{ article.description }}" class="img-responsive" height="385"/>
									
				</div> 
			</div> -->
		</div>
  
	
	<script type="text/javascript">
	/*	var gallery = $('.photos').gallerify({
			margin:5,
			mode:'default',
			lastRow:'hidden'
		});	
		//Demo async loading simulation
		setTimeout(function(){
			$(".photos").append(generateRandomImage());
			gallery.gallerify.renderAsyncImages();
		}, 2000);
		function generateRandomImage(){
			return $('<div class="photo"><img src="http://placehold.it/'+ Math.floor((Math.random() * 900) + 200) + 'x' + Math.floor((Math.random() * 900) + 200) + '"><div class="title">random</div></div>');
		} */
	</script>
<!-- //top-brands -->

<!--

<div class="row">
	<div class="col-lg-12">
			 <div class="btn-group">
				<label class="btn btn-category" ng-model="category" btn-radio="'1'" ng-change="change()">Bride</label>
				<label class="btn btn-category" ng-model="category" btn-radio="'2'" ng-change="change()">Groom</label>
				<label class="btn btn-category friends" ng-model="category" btn-radio="'3'" ng-change="change()">
				<span ng-click="displayGender()">Friends & Family</span>
				
				
				<ul class="gender" ng-show="showGender">
					<li><a ng-click="selectGender(1)">Male</a></li>
					<li><a ng-click="selectGender(2)">Female</a></li>
				</ul>
				</label>
				
			</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
	
	
	<div id="filters">
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">      

		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Style<b class="caret"></b></a>
          <ul class="dropdown-menu style-dropdown-menu">
		  
            <li ng-repeat="style in styles" ng-class="{active:isStyleSelected(style.id)}">
			<label ng-click="getDesigns(style.id,0,selctedOccasion,0,0,0)" for="style{{ style.id }}"> <input id="style{{ style.id }}" type="checkbox" class="ng-pristine ng-untouched ng-valid" ng-bind="isStyleSelected(style.id)" ></input>{{ style.style }} </label>
			<!--<a ng-click="getDesigns(style.id,0,selctedOccasion,0,0,0)"> <input type="checkbox" ng-bind="isStyleSelected(style.id)" class="ng-pristine ng-untouched ng-valid" /> {{ style.style }}</a> -->
		<!--	</li>                    
          </ul>
		 </li>		
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Occasion<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li ng-repeat="occasion in occasions" ng-class="{active : selctedOccasion == occasion.id}"><label ng-click="getDesigns(0,selctedOutfit,occasion.id,0,0,0)" >{{ occasion.name }}</label> </li>                    
          </ul>
        </li>
		 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">season<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li ng-repeat="season in seasons" ng-class="{active: isSeasonSelected(season.id)}">
				<label ng-click="getDesigns(0,selctedOutfit,selctedOccasion,season.id,0,0)"><input type="checkbox" ng-bind="isStyleSelected(style.id)" class="ng-pristine ng-untouched ng-valid"/>  {{ season.season }}</label>
			</li>                    
          </ul>
		 </li>
		
		<li  ng-show="category != 3">
          <a ng-click="getDesigns(0,0,0,0,0,1)">Couple Coordination</a>
        </li>
		<li  ng-show="category == 1">
          <a ng-click="getDesigns(0,0,0,0,1,0)">Wedding After Dress</a>
        </li>
		
      </ul>
    </div>
    <!-- /.navbar-collapse 
  </nav>
</div>

	</div>
 </div> 
 -->
 
 <!--
 <div class="row"  style="margin:10px 0 10px 0" id="wrapper">
 
 <div id="columns">
	<div class="design-box pin" ng-repeat="x in names" ng-click="selectDesign(x.id)">
		<div class="design-img">
			<img ng-src="images/designs/{{ x.imagePath }}" alt="" width="100%" />
		</div>
		<div class="design-content">
			<h2>{{ x.title }}</h2>
			<a class="profileSource" href="#">
				<div class="thumbImageWrapper">            
					<img src="images/avatars.jpg" alt="Designer" title="More">
				</div>   
				<div class="profileSourceAttributionContent">                    
					<h3 class="title">Designed by</h3>                
					<h4 class="fullname">
						{{ x.designedBy }}
					</h4>          
				</div>
			</a>			
		</div>				
	</div> 
	
	
	
	</div>
	 -->
	
 </div>
  <!-- Modal start-->
<!--<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content
       <div class="modal-content" style="border: 5px solid #eed89f;">
            <div class="modal-header" style="border-color: white;">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="userlogo text-center">
						<h1><a href="index.html"><img src="images/logo3.png" alt="logo" width="150" height="60" /></a></h1>					
				</div>
            </div>
        <div class="modal-body">
            <div class="userlogo-dialog">  
					<div class="text-center"> <label style="color: #ef0d0d;" > {{ loginError }} </label> </div>
                        <form  ng-submit="dologin()" method="post" role="form">
                                <div class="form-group">
                                        <input type="text" name="username"  ng-model="username"  class="form-control" id="Username" placeholder="Enter Email" required="" />
                                        <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                        <input type="Password" class="form-control" name="password" ng-model="password" id="Password" placeholder="Password" required=""/>
                                        <div class="validation"></div>
                                </div>
                               
                                 <div class="form-group">
                                       <button type="submit" class="form-control data" name="send" id="sender" value="submit">Login</button>
                                        
                                </div>
                            
                        </form>
			</div>
				<div class="passive-text">
					<!--<h1>Lost Your Password?</h1> 
					<hr style="width: 80%;">
					<h1 style="text-align: center;color: #ccc !important;;">New User? <span>SIGN UP NOW</span></h1>
				</div>
				
				<div class="form-group">
                     <button type="button" name="Email" class="form-control" id="openRegisterModel">Sign up </button>
                                        
                </div>			
					 
            </div>
       
       </div> 
    </div>
</div> -->
 <!-- Modal end-->
  <!-- Modal start for register
<div class="modal fade" id="registerModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content
        <div class="modal-content" style="border:5px solid #eed89f;">
            <div class="modal-header" style="border-color: white;">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="userlogo text-center">
					<h1><a href="index.html"><img src="images/logo3.png" alt="logo" width="150" height="60" /></a></h1>					
			    </div>
            </div>
        <div class="modal-body">
                    <div class="login-page-text">  	
                        <form ng-submit="doregister()" method="post" role="form">
                                <div class="form-grouped">
								          <input type="text" name="username" ng-model="myusername" class="form-contrl" id="Username" placeholder="Enter Name" required />
                                        
                                </div>
                                <div class="form-grouped">
                                        <input type="text" class="form-contrl" ng-model="mobile" name="mobile" id="mobile" placeholder="Enter Mobile" required/>
                                        
                                </div>
							    <div class="form-grouped">
                                        <input type="email" class="form-contrl" name="email" ng-model="email" id="email" placeholder="Enter  Email" required/>
                                        
                                </div>
						        <div class="form-grouped">
                                        <input type="Password" class="form-contrl" name="Password" ng-model="mypassword" id="Password" placeholder="Enter Password" required/>
                                        
                                </div>
								 <div class="form-grouped">
                                        <input type="Password" class="form-contrl" name="confirmPassword" ng-model="confirmPassword" id="confirmPassword" placeholder="Reenter Password" required/>
                                        
                                </div>
							    <div class="form-group" style="width:100%; margin-left:-4px;margin-top: 6.5px;">
                                       <button type="submit" class="form-control data" name="send" id="sender" value="submit">Register</button>
                                        
                                </div>
                        </form>
					</div>
					       <div class="passive-text">
									<hr style="width: 80%;">
									<h1 style="text-align: center;color: #ccc;">If u have already account goto? <span>LOGIN Page</span></h1>
							</div>
				
						    <div class="form-group">
                                     <button type="button" name="" class="form-control" id="openLoginModel">LOGIN </button>
                                        
                            </div>
			</div>				
       <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -
         </div>
      
    </div>
 <!-- Modal end
</div>-->