<div ng-app="myApp" ng-controller="StylingServicesCtrl">

<div class="row services-background-img">
		<div class="col-md-6" id="styling-services">
			<div class="col-md-12 styling-servicesstyle">
				<h1 style="font-family: epic-ride">Hi Krista  <!--Krista,--></h1>						
				<p style="font-family: gotham-light">Are you ready to<br><b>BOOK </b>Your to personalized styling <br> experience ?</p>
				<p style="font-family: gotham-light">When you <b>look good</b>,<br> you <b>feel content and happy</b> .</p>
				<p style="font-family: gotham-light">Meet with our stylists for a <b>Free <br>evaluation </b>& to show you how you<br>can look your very bestall with the <br><b>sensible use of budget</b> </p>
			</div>
	  </div>
<div class="col-md-6 " style="padding: 114px;">  	
                        <form action="styling_service_insert.php" method="post" role="form" class="contactForm">
                              <!--  <div class="form-group">
                                        <input type="date" name="date" class="form-control" id="Date" placeholder=" Select Date" />
                                        <div class="validation"></div>
                                </div>-->
								<div class="form-group ">
     
      
       <div class="input-group">
        <div class="input-group-addon">
         <i class="fa fa-calendar">
         </i>
        </div>
        <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
       </div>
      </div>
     
	<!-- <div class="input-group bootstrap-timepicker timepicker">
            <input id="timepicker1" type="text" class="form-control input-small">
            <span class="bfh-timepicker input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        </div>-->
                                <div class="form-group">
                                        <input type="" class="form-control" name="time" id="Time" placeholder="Select Time" />
                                        <div class="validation"></div>
                                </div>
								<div class="form-group">
                                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Any Message"></textarea>
                                        <div class="validation"></div>
                                </div>
                                 <div class="form-group">
                                        <button type="submit" class="form-control " name="send" id="sendtext" value="submit">submit</button>
                                        
                                </div>					
								
                        </form>
					</div>	
		</div>
                <div class="row banner">
					<img src="images/banner4.png" alt="" width="98%"/>
				</div>
	<div class="row">
	    <div class="col-md-5 designbox" id="dreamfurthure">
			<hr class="line">
			<h1>vikram seth has been an integral part of the <br>Indian fashion and advertisng industry for<br>the last seven years.during the time he has<br>Worked with the countrie's best known<br>fashion magazines, styled editorial stories,<br>fashion runaways and commercial campaigns. </h1>
			<hr class="linebottom">
	   </div>
		<div class="col-md-7">
			<img  class="tiffany-img" src="images/vikram-seth.jpg" alt=""/>
		</div>
	</div>
	<div class="row">
		<div class="btn-group">
			<div class="col-lg-12 wedding-services">
				<h1><label ng-click="serviceclick('Style Board')"><span>Style Board</span></label>|<label ng-click="serviceclick('Couple Co-ordination')"><span>Couple Co-ordination</span></label></h1>
            </div>
		</div>
	</div>	
	<!-- top-brands -->			
		<div class="top-brands" style="margin:10px 0 10px 0">
			<div class="sliderfig">
				<div id="five-columns">
							<div class=" top-product-grids tp4" ng-repeat="service in services">
								<div class="product-img">
									<img src="images/service/{{ service.imagePath }}" alt="{{ service.Tittle }}" class="img-responsive side-image"/>
									
								</div> 
														
							</div> 
								
				</div>
			</div>
		</div> 
	
	</div>
	</div>
	
